.main {
   margin-top: 10vh;
   margin-left: 5vw;
}

.InputBox{
  /* color: white; */
  /* background-color: rgb(33, 157, 234); */
  border-radius: 10px;
}

.btn{
  width: 120px;
  background-color: aqua;
  border-radius: 10px;

}


